{% extends 'base.html' %}
{% block control %}
<h3> &nbsp; Информация о книге</h3>
<br>
<container>
<div class="row">
<span vspace = "3"> <img width="250" height="330" align="left" hspace = "19"
    src="../static/images/{{ data_book[6] }}" alt="Обложка книги"/>

    <b>Название: </b>   {{ data_book[2] }} </a>
    <br /> 
    <b>Автор: </b>  {{ data_book[1] }} </a>
    <br>
    <b> Год: </b> {{ data_book[3] }}
    <br /> 
    <b> Жанр: </b> {{ data_book[5] }}
    <br /> <br />
    <b> Описание: </b><br />
    <p align="justify">{{ data_book[4] }}</p>
  
</div>
</container>
<hr>
<b> Отзывы: </b>

<form action="" method="POST">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">
        {% if user %}
        Оставьте отзыв
        {% else %}
        Отзывы могут оставлять авторизованные пользователи
        {% endif %}
      </label>
      <textarea class="form-control" id="reviews" rows="3" {% if user == False %} disabled  {% endif %}></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" {% if user == False %} disabled  {% endif %}>Оставить отзыв</button>
    </div>
  </form>
 

{% endblock %}