{% extends 'base.html' %} {% block control %}
<h1>Книги</h1>
<hr />

<div class="row justify-content-left">
  <div class="col col-md-10">
    {% for book in data_book %}
    <br/>
    <span vspace = "3"> <img width="150" height="230" align="left" hspace = "15"
      {% if index < 10 %}
      src=   "static/images/{{ book[6] }}" 
      {% else %}
      src=   "../static/images/{{ book[6] }}"
      {% endif %}
      alt="Обложка книги"/>

      <form>
        <b>Название: </b>   <a  href="{{ url_for('book', book_id = book[0]) }}">  {{ book[2] }} </a>
        <br /> 
        <b>Автор: </b>  {{ book[1] }} </a>
        <br>
        <b> Год: </b> {{ book[3] }}
        <br /> 
        <b> Жанр: </b> 
        
{% if book[5] == 1 %}
Автобиография
{% elif book[5] == 2 %}
Аллегория
{% elif book[5] == 3 %}
Антиутопия
{% elif book[5] == 4 %}
Баллада
{% elif book[5] == 5 %}
Басня
{% elif book[5] == 6 %}
Биография
{% elif book[5] == 7 %}
Готика
{% elif book[5] == 8 %}
Детектив
{% elif book[5] == 9 %}
Детская литература
{% elif book[5] == 10 %}
Для подростков
{% elif book[5] == 11 %}
Документальная литература
{% elif book[5] == 12 %}
Драма
{% elif book[5] == 13 %}
История
{% elif book[5] == 14 %}
Киберпанк
{% elif book[5] == 15 %}
Классика
{% elif book[5] == 16 %}
Комедия
{% elif book[5] == 17 %}
Криптоистория
{% elif book[5] == 18 %}
Лирика
{% elif book[5] == 19 %}
Магический реализм
{% elif book[5] == 20 %}
Мемуары
{% elif book[5] == 21 %}
Мистика
{% elif book[5] == 22 %}
Мифы
{% elif book[5] == 23 %}
Модернизм
{% elif book[5] == 24 %}
Натурализм
{% elif book[5] == 25 %}
Научная литература
{% elif book[5] == 26 %}
Неоромантизм
{% elif book[5] == 27 %}
Новелла
{% elif book[5] == 28 %}
О животных
{% elif book[5] == 29 %}
О войне
{% elif book[5] == 30 %}
О любви
{% elif book[5] == 31 %}
Пародия
{% elif book[5] == 32 %}
Плутовской роман
{% elif book[5] == 33 %}
Повесть
{% elif book[5] == 34 %}
Постапокалипсис
{% elif book[5] == 35 %}
Постмодернизм
{% elif book[5] == 36 %}
Поток сознания
{% elif book[5] == 37 %}
Поэзия
{% elif book[5] == 38 %}
Поэма
{% elif book[5] == 39 %}
Приключения
{% elif book[5] == 40 %}
Притча
{% elif book[5] == 41 %}
Проза
{% elif book[5] == 42 %}
Психология
{% elif book[5] == 43 %}
Публицистика
{% elif book[5] == 44 %}
Путевые заметки
{% elif book[5] == 45 %}
Пьеса
{% elif book[5] == 46 %}
Рассказ
{% elif book[5] == 47 %}
Реализм
{% elif book[5] == 48 %}
Роман
{% elif book[5] == 49 %}
Роман в письмах
{% elif book[5] == 50 %}
Сага
{% elif book[5] == 51 %}
Сатира
{% elif book[5] == 52 %}
Сборник
{% elif book[5] == 53 %}
Сказка
{% elif book[5] == 54 %}
Современная проза
{% elif book[5] == 55 %}
Сюрреализм
{% elif book[5] == 56 %}
Теософия
{% elif book[5] == 57 %}
Трагедия
{% elif book[5] == 58 %}
Трагикомедия
{% elif book[5] == 59 %}
Триллер
{% elif book[5] == 60 %}
Утопия
{% elif book[5] == 61 %}
Фантастика
{% elif book[5] == 62 %}
Философия
{% elif book[5] == 63 %}
Фольклор
{% elif book[5] == 64 %}
Фэнтези
{% elif book[5] == 65 %}
Хоррор
{% elif book[5] == 66 %}
Эзотерика
{% elif book[5] == 67 %}
Эпос
{% elif book[5] == 68 %}
Эротика
{% elif book[5] == 69 %}
Эссе
{% elif book[5] == 70 %}
Юмор
        {% endif %}

        <br /> <br />
        <b> Описание: </b><br />
        <p align="justify">{{ book[4] }}</p>
      </form>

    </span>

    <hr />
    {% endfor %}
    {% if index > 10 %}
    <a  href="{{ url_for('index', index = index - 10) }}"> <button type="submit" class="btn btn-primary">Назад</button> </a>
    {% endif %}
    <a  href="{{ url_for('index', index = index + 10) }}"> <button type="submit" class="btn btn-primary">Далее</button> </a>    

  </div>
</div>

{% endblock %}
