{% extends 'base.html' %} {% block control %}
<h3>Поиск</h3>
<form>
  <div class="form-group">
    <label for="name_book">Книга</label>
    <input
      type="text"
      class="form-control"
      id="name_book"
      placeholder="Название книги"
    />
  </div>

  <div class="form-group">
    <label for="id_author">Автор</label>
    <input
      type="text"
      class="form-control"
      id="id_author"
      placeholder="Автор"
    />
  </div>
 
  <div class="form-group">
    <label for="exampleFormControlSelect1">Выберите жанр:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Пусто</option>
  {% for genre in data_genre %}
  <option> {{ genre[1] }} </option>
  {% endfor %}

    </select>
  </div>

<!--
Сделать поиск по жанру из выпадающего списка


-->

  <button type="submit" class="btn btn-primary">Поиск</button>
</form>
{% endblock %}
